*{
     margin: 0;
     padding: 0;
     font-family: 'poppins', sans-serif;
     box-sizing: border-box;
     
     
}
.calculator{
     background: #f3f5f8;
     padding: 20px;
     border-radius: 10px;
     box-shadow: -5px -5px 15px whitesmoke;
}
.container{
     width: 100%;
     height: 100vh;
     background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url('cal2.jpg');
     display: flex;
     align-items: center;
     justify-content: center;
     
}

.calculator form input{
     border: 0;
     outline: 0;
     width: 61px;
     height: 61px;
     border-radius: 10px;
     box-shadow: -8px -8px 15px grey,  5px 5px 15px grey;
     background:transparent;
     font-size: 20px;
     color: #131314;
     cursor: pointer;
     margin:10px;
}
form .display{
     display: flex;
     justify-content: flex-end;
     margin: 20px 0;

}
form input.equal{
     width: 145px;
}
form input:hover
{
     font-size: 30px;
}
form input.operator{
     color: #1c1e1c;
     background-color:rgb(82, 224, 177);
}
form .display input{
     text-align: right;
     flex: 1;
     font-size: 45px;
     box-shadow: none;

}
